*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --dark-grey: #12161a;
    --grey: #202121;
    --ocean-blue: #00ADB5;
    --pastel-white: #EEEEEE;
    --light-grey: #adadad;
    --grey-text: rgb(79, 78, 77);
}

/*Presets*/

body{
    font-family: 'Open Sans', sans-serif;
    color: var(--pastel-white);
    background: linear-gradient(-180deg, var(--dark-grey), var(--grey));
}

a{
    text-decoration: none;
    color: var(--pastel-white);
}

/*Custom scrollbar*/

body::-webkit-scrollbar {
    width: .3rem;
}
   
body::-webkit-scrollbar-track {
box-shadow: none;
background: linear-gradient(-180deg, var(--dark-grey), var(--grey))
}
   
body::-webkit-scrollbar-thumb {
background-color: var(--ocean-blue);
border-radius: 15px;
max-height: 100px;
}


/*Menu*/
/* 
nav{
    height: 10vh;
    
}

.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a{
    color: var(--pastel-white);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all .5s ease;
}

.nav-links li a:hover{
    color: var(--ocean-blue);
} */

/*Hero*/
.hero{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.hero-title{
    font-size: clamp(1.8rem, 5vw, 3rem);
    margin-bottom: 1.3rem;
    text-align: center;
    font-weight: 400;
}

.title-blue{
    color: var(--ocean-blue)
}

.hero-btn{
    font-size: 1.5rem;
    margin: 0 1rem;
    transition: margin .3s ease-out;
}

.arrow{
    font-size: 1.2rem;
}

.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
}

.btn-box:hover .hero-btn{
    color: var(--ocean-blue);
    margin: 0 .3rem;
}

/*About*/

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-title{
    color: var(--grey-text);
    font-weight: 400;
    font-size: 1.6rem;
    max-width: 35%;
    text-align: center;
    margin-bottom: 1.2rem;
    font-weight: 600;
}

.projects{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-title{
    margin: 10rem 0 2rem 0;
    white-space: nowrap;
    color: var(--grey-text);
    font-size: 1.6rem;
}

.about-descritption{
    color: var(--grey-text);
    line-height: 1.8rem;
    text-align: center;
    max-width: 50%;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
}

.about p{
    color: var(--grey-text);
    font-size: 1.1rem;
}

.project-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--light-grey);
    transition: all .3s ease;
}

.projects-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.project-link:hover{
    transform: skewX(-15deg);
}

.social-media{
    margin-top: 10rem;
}

.social-media-title{
    margin-bottom: 1.2rem;
    color: var(--grey-text);
    font-size: 1.6em;
}

.icons-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.fa-brands{
    color: rgb(153, 153, 153);
    font-size: 2rem;
    cursor: pointer;
    transition: color .3s ease;
}

.fa-brands:hover{
    color: var(--ocean-blue)
}



/*Hover line animations*/

.hover-underline-animation-white {
    display: inline-block;
    position: relative;
    color: var(--pastel-white);
  }

  .hover-underline-animation-white:hover{
      color: var(--ocean-blue);
  }

  .hover-underline-animation-white:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--ocean-blue);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.hover-underline-animation-white:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.hover-underline-animation-light-grey {
    display: inline-block;
    position: relative;
    color: rgb(153, 153, 153);
  }

  .hover-underline-animation-light-grey:hover{
      color: var(--ocean-blue);
  }

  .hover-underline-animation-light-grey:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--ocean-blue);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.hover-underline-animation-light-grey:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


/*Footer*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: rgb(153, 153, 153);
    margin: 5rem 0 1rem 0 ;
}


/*Media queries*/

@media screen and (max-width: 568px){
    .about-descritption{
        max-width: 75%;
    }
    .about-title{
        max-width: 75%;
    }
}